* {
    box-sizing: border-box;
}

.hauteur {
    height: 100px;
}

.orange {
    @extend .hauteur;
    background-color: #ff4948;
}

.jaune {
    height: 200px;
    background-color: #ffa931;
}

.violet {
    @extend .hauteur;
    background-color: #9b0578;
}

.bleu {
    @extend .hauteur;
    background-color: #097690;
}

.border {
    border: 1px solid #000;
}

.container {
    margin-right: auto;
    margin-left: auto;

    .row {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        $breakpoints: (
            xs: 0,
            sm: 576px,
            md: 768px,
            lg: 992px,
            xl: 1200px,
            xxl: 1400px
        );

    @for $i from 1 through 12 {
        .col-#{$i} {
            width: calc(#{$i} / 12 * 100%);
        }
    }

    @each $breakpoint, $width in $breakpoints {
        @media (min-width: #{$width}) {
            @for $i from 1 through 12 {
                .col-#{$breakpoint}-#{$i} {
                    width: calc(#{$i} / 12 * 100%);
                }
            }
        }
    }
}

@media (min-width: 1400px) {
        max-width: 1320px;
}

@media (max-width: 1400px) {
        max-width: 1140px;
}

@media (max-width: 1200px) {
        max-width: 960px;
}

@media (max-width: 992px) { 
        max-width: 720px;
}

@media (max-width: 768px) {
        max-width: 540px;
}

@media (max-width: 576px) {
        max-width: 100%;
}
}